<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A</string>
	<string>B</string>
	<string>C</string>
	<string>D</string>
	<string>E</string>
	<string>F</string>
	<string>G</string>
	<string>H</string>
	<string>I</string>
	<string>J</string>
	<string>K</string>
	<string>L</string>
	<string>M</string>
	<string>N</string>
	<string>O</string>
	<string>P</string>
	<string>Q</string>
	<string>R</string>
	<string>S</string>
	<string>T</string>
	<string>U</string>
	<string>V</string>
	<string>X</string>
	<string>Y</string>
	<string>Z</string>
	<string>Z</string>
	<string>R</string>
	<string>Z</string>
	<string>K</string>
	<string>Z</string>
	<string>N</string>
	<string>Z</string>
	<string>J</string>
	<string>Z</string>
	<string>Z</string>
	<string>L</string>
	<string>Z</string>
	<string>P</string>
	<string>Z</string>
	<string>K</string>
	<string>Z</string>
	<string>K</string>
	<string>C</string>
	<string>V</string>
	<string>B</string>
	<string>D</string>
	<string>F</string>
	<string>O</string>
	<string>P</string>
	<string>R</string>
	<string>Q</string>
	<string>W</string>
	<string>R</string>
	<string>A</string>
	<string>S</string>
	<string>S</string>
	<string>D</string>
	<string>M</string>
	<string>I</string>
	<string>U</string>
</array>
</plist>
